#cake{
    font-family:"Meow Script", cursive;
    list-style: none;
    display: inline-block;
    color:#E5BF4A;
    font-size: 60px;
    margin-top:-1px;
    
}
li{
    list-style: none;
    align-items: flex-start;

}

   

ul{
    display: flex;
    list-style-type: none;
    justify-content:space-evenly;
    padding: 9px;
    text-align: center;
}

.call{
    border: 1px solid #E5BF4A;
    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
    margin: bottom 110px;
    text-transform: capitalize;
    color: #E5BF4A;
    padding:30px;
    
    height: 52px;
    margin-top:-1px
}


body{
    background-color: black;
}

.insta{
margin-left:10px;
  margin-top:-1px;
  width: 15px;
  margin-right: 0.5px;
}
.twitter{
    margin-right: 600px;
    margin-top: -1px;
    width: 15px;
}
.facebook{
    margin-top: -1px;
    width: 15px;
}
#cake {
    margin-right: 600px;

}
.nav-header{
    color:aliceblue;
    display: flex;
    justify-content: space-around;
align-content: center;
position: fixed;
font-family:"Jost", sans-serif;
font-size: 25px;
background-color: black;
}
#home {
    margin-right: 90px;
    margin-left: 600px;
    margin-top: 20px ;
}
#ca{
    margin-right: 90px;
    margin-top: 20px ;
}

#about{
    margin-right: 90px;
    margin-top: 20px ;
}

#blog{
    margin-right: 90px;
    margin-top: 20px ;
}

#contact {
    margin-right: 90px;
    margin-top: 20px ;
}

.background-image{
       margin-top: 200px;
       width: 100%;
       height: 100%; 
       overlay:;

}
#image{
    width: 99%;
}
.text-block{
    position:absolute;
    top:430px;
    left:50px;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 70px;
    font-family: "Poiret One", sans-serif;

}
.btn-1{
    position: absolute;
    top:700px;
    left:80px;
    background-color: #E5BF4A;
    border: 1px solid black;
    color: #0A0A0A ;
    font-size: 15px;
  display: inline-block;
    text-transform: uppercase;
    line-height: 15px; 
     border-radius: 0px;
     padding:22px 41px;
     
}
button:hover{
   background-color:gold;
   border-color:chocolate;
   border-style: double;
   
}
.writting-section-1{
    color: #DFDFDF;
    font-family: "poiret one",cursive;
    display: block;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;
    position: relative;
    text-align: center;
    font-size: 40px;


}
.small-line{
    border: none;
    height: 1px;
    background: #E5BF4A;
    width: 200px;
    margin:  auto;
}
 #heading {
    font-size: 37px;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    color: #E5BF4A;
    text-align:left;
    margin-left: 152px;
    line-height:60px;
    
}
#random-text{
    font-size: 30px;
    color: #DFDFDF;
    text-align:center;
    margin-left: 50px;
    margin-bottom:10px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin-bottom: 10px;
}
.container img {
    width: 700px;
    height: auto; 
     margin-bottom: 10px; 
    margin-top: 30px;
}
/* #item1{
    width: 26%;
margin-left: 130px;
margin-right: 70px;
}
#item2{
    width: 26%;
margin-right: 70px;
}
#item3{
width: 26%;
} */
.image-text{
    font-family:"poiret one",cursive;
    font-weight: 800;
    color: #DFDFDF;
    font-size: 24px ;
}
.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.image-item {
    text-align: center;
    margin: 10px;
}
.image-item img {
    width: 100%;
    height: auto;
}
.amount{
    color: #E5BF4A;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.video-preview-image{
   position: relative;
   display: inline-block;
}
.video-preview-image{
    display: block;
    width: 100%;
    height: auto;
    margin-left: 15%;
}
.video-icon{
    position:absolute;
    top: 50%;
    left: 35%;
    font-size: 66px;
    color:#E5BF4A;
    

}
.dot{
padding: 10px;
border-color: #E5BF4A;
top:40%;
margin-right:100px ;
list-style-type: none;
text-decoration: none;
color: #DFDFDF;
}
#head{
    font-family: "poiret one",cursive;
    color: #DFDFDF;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    
    
    
}